*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #edf2f7;
}

/* utilidades */
h1{
    font-size: 20px;
    font-weight: 500;
}
h2{
    font-size: 34px;
    line-height: 1.3;
    padding: 8px 140px;
    font-weight: 500;
}
h3{
    font-size: 34px;
    line-height: 1.3;
    padding: 34px 0;
    font-weight: 500;
    width: 50%;
    text-align: left;
}

.hero{
    display: flex;
}
.hero_content {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0; 
}

.hero_content_picture{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100%;
    position: relative;
    background-image: url('./../img/dark-1850120_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 40px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    top: 30px;

}
.content_picture_description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}.content_picture_description_text{
    font-size: 18px;
    padding-bottom: 30px;
    font-weight: 400;
}

.picture_description_link{
    background-color: #e92d2d;
    padding: 8px 24px;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;

}

.hero_content_search{
    margin: 5px;
    width: 45%;
    padding: 35px 40px 10px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content_search_nav{
    display: flex;
    justify-content:center;
    /* background-color: rgb(0, 255, 64); */
    align-items: center;
    justify-content: space-between;
    padding-right:10px;
}
.content_search_nav_link{
    /* background-color: rgb(255, 0, 212); */
}

.nav_link{
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color:#fff
}

.content_search_card{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 20px;
        line-height: 1.3;
        padding: 8px 4px;
        font-weight: 500;
    }
    p{
        font-size: 15px;
        padding-bottom: 20px;
    }
    .hero_content{
        height: 100vh;
    }
    .hero_content_picture{
        width: 100%;

    }
    .hero_content_search{
        width: 100%;
    }
    .content_search_nav{
        display: none;
    }

}

/*  dd */
.content_form{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rebeccapurple; */
}
.search_form input[type=text].text {
     font-size: 18px;
    line-height: 15px;
    background: #F2F2F2;
    /* border-radius: 50px; */
    border-radius: 25px 0 0 25px;
    padding: 10px;
    border: none;
    /* max-width: 303px; */
    width: 50%;
    outline: none;
    padding-left: 55px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #64646499;
    height: 46px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    display: inline-block;
 }
    .search_form input[type=text].text_search {
      background-image: url(../img/search-interface-symbol.svg);
      background-repeat: no-repeat;
      background-position: left 20px center;
      background-size: 20px;
      cursor: pointer;
      margin-bottom: 10px;    
    }
.btn_search{
    background-color: #444445;
    padding: 15px;
    border-radius: 0 25px 25px 0px;
    border: none;
    font-size: 18px;
    height: 46px;
    padding: 0 20px;
    color:#fff;
    cursor: pointer;
    outline: none;
    margin-left: -4px;
    display: inline-block

}
.btn_search:hover{
    background-color: rgb(22 73 221);
}

/* ALERTAR JS*/

.alertaError{
    background-color: rgb(246 17 15);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}

.img_user{
    width: 15%;    
}

.ion-icon{
    font-size: 30px;
}

